<!DOCTYPE html>
<html>
  <head>
    <head>
        <% include ../partials/head.ejs %>
    </head>
  </head>
  <body>
      <nav>
          <% include ../partials/nav.ejs %>
      </nav>


        <div class="container-fluid joinEditContainer">
          <div class="row">
            <div class="col-md-4 col-md-offset-4 mx-auto">
              <h1>EDIT PROFILE</h1>
              <h2><%= crew.name %></h2>
              <form action="/crew/<%= crew._id %>?_method=PUT" method="POST">
                  User Name: <input class="form-control" type="text" name="name" value="<%= crew.name %>"/><br/>
                  Profile Pic: <input class="form-control" type="text" name="profile_pic" value="<%= crew.profile_pic %>"/><br/>
                  Favorite Beer: <input class="form-control" type="text" name="fav_beer" value="<%= crew.fav_beer %>"/><br/>
                  Favorite Brewery: <input class="form-control" type="text" name="fav_brewery" value="<%= crew.fav_brewery %>"/><br/>
                  About Me: <br/><textarea class="form-control" name="about"></textarea><br/>
                  <input class="bg-secondary text-white font-weight-bold text-center" type="submit" name="" value="Edit Profile">
            </div>
          </div>
        </div>

        <footer>
          <% include ../partials/footer.ejs %>
        </footer>

  </body>
</html>
