<!DOCTYPE html>
<html>
    <head>
        <% include ../partials/head.ejs %>
    </head>
  <body>
      <nav>
          <% include ../partials/nav.ejs %>
      </nav>
        <div class="jumbotron jumbotron-fluid indexJumbo">
          <div class="card text-center">
            <h5 class="card-header bg-dark text-light"><i class="fas fa-beer"></i> Brew-Crew <i class="fas fa-beer"></i></h5>
            <div class="card-body">
              <h5 class="card-title">Cheers!</h5>
              <p class="card-text">View our favorite beers and places to drink.</p>
              <a href="/crew/new" class="btn btn-secondary brewBtn">Join the crew</a>
            </div>
          </div>
        </div>

        <section class="container-fluid">
          <div class="row align-items-center crewRow">
            <% for (let i = 0; i < crew.length; i++) { %>
            <div class="col-md-4 col-sm-6 d-flex">
              <div class="card h-100 mx-auto mb-4 crewCard flex-fill" style="width: 18rem;">
                <img class="card-img-top" src="<%= crew[i].profile_pic %>" height="200" width="200" alt="Card image cap">
                <div class="card-body">
                  <h5 class="card-title text-uppercase"><a class="crewNameView" href="/crew/<%= crew[i]._id %>"><%= crew[i].name %></a></h5>
                  <p class="card-text">Favorite Beer: <%= crew[i].fav_beer %></p>
                </div>
                <div class="card-footer">
                  <a href="/crew/<%= crew[i]._id %>" class="card-link text-uppercase text-warning">View Profile</a>
                </div>
              </div>
            </div>
            <% } %>
          </div>
        </section>



        <footer>
          <% include ../partials/footer.ejs %>
        </footer>
  </body>
</html>
