<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
      <header>
          <h1><%= crew.name %></h1>
          <nav>
              <ul>
                  <li>
                      <a href="/">Home</a>
                  </li>
                  <li>
                      <a href="/crew">Brew Crew</a>
                  </li>
              </ul>
          </nav>
      </header>
      <main>
          <section>
              <ul>
                  <li>
                      <img src="<%= crew.profile_pic %>" height="300" width="300"/>
                  </li>
                  <li>
                      <h3>Favorite Beer:</h3>
                       <%= crew.fav_beer %>
                  </li>
                  <li>
                      <h3>Favorite Brewery:</h3>
                       <%= crew.fav_brewery %>
                  </li>
                  <li>
                    <h3>About Me:</h3>
                     <%= crew.about %>
                  </li>
              </ul>
          </section>
          <section>
              <form action="/crew/<%= crew.id %>?_method=DELETE" method="POST">
                  <input type="submit" value="Delete Crew Member"/>
              </form>
          </section>
      </main>
  </body>
</html>
