<!DOCTYPE html>
<html>
    <head>
        <% include ../partials/head.ejs %>
    </head>
  <body>
      <nav>
          <% include ../partials/nav.ejs %>
      </nav>

      <section class="container-fluid profile">
        <div class="row">
            <div class="card mx-auto w-75" id="profileContainer">
              <img class="card-img-top" src="https://www.kegworks.com/wp/wp-content/uploads/2013/05/simpson-duff-beer-internet-homer.jpg" alt="Card image cap">
              <div class="card-body">
                <h3 class="card-title text-warning"><%= crew.name %></h3>
                <p class="card-text"><%= crew.about %></p>
              </div>
              <ul class="list-group list-group-flush">
                <li class="list-group-item">Favorite Beer:  <%= crew.fav_beer %></li>
                <li class="list-group-item">Favorite Brewery:  <%= crew.fav_brewery %></li>
              </ul>
              <div class="card-body">
                <h6><strong>Breweries Posted: </strong></h6>
                <ul>
                  <% for (let i = 0; i < crew.breweries.length; i++) { %>
                  <li>
                      <a class="text-dark" href="/breweries/<%= crew.breweries[i]._id %>"><%= crew.breweries[i].name %></a>
                  </li>
                <% } %>
                </ul>
              </div>
              <a href="/breweries/new" class="card-link text-warning list-group-item">Add a Brewery</a>
              <div class="card-body">
                <a href="/crew/<%= crew._id %>/edit" class="card-link text-warning">Edit Profile</a>
                <form action="/crew/<%= crew._id %>?_method=DELETE" method="POST">
                  <input type="submit" value="Delete Profile"/>
                </form>
              </div>
            </div>
      </section>



      <footer>
        <% include ../partials/footer.ejs %>
      </footer>
  </body>
</html>
