<!DOCTYPE html>
<html>
    <head>
        <% include ../partials/head.ejs %>
    </head>
  <body>
      <nav>
          <% include ../partials/nav.ejs %>
      </nav>

      <section class="container-fluid profile">
        <div class="row">
            <div class="card mx-auto w-75" id="profileContainer">
              <img class="card-img-top profileImg" src="<%= crew.profile_pic %>" alt="Card image cap">
              <div class="card-body">
                <h2 class="card-title colored text-uppercase font-weight-bold"><%= crew.name %></h2>
                <p class="card-text"><%= crew.about %></p>
                <p>Favorite Beer:  <%= crew.fav_beer %></p>
                <p>Favorite Brewery:  <%= crew.fav_brewery %></p>
                <a href="/crew/<%= crew._id %>/edit" class="card-link colored">Edit Profile</a>
              </div>
              <div class="card-body list-group-item">
                <h6><strong>Breweries Posted: </strong></h6>
                <ul class="fa-ul">
                  <% for (let i = 0; i < crew.breweries.length; i++) { %>
                  <li>
                      <span class="fa-li"><i class="fas fa-beer"></i></span>
                      <a class="text-dark" href="/breweries/<%= crew.breweries[i]._id %>"><%= crew.breweries[i].name %></a>
                  </li>
                <% } %>
                </ul>
                <a href="/breweries/new" class="card-link colored">Add a Brewery</a>
              </div>
              <div class="card-body text-center">
                <form class="card-link" action="/crew/<%= crew._id %>?_method=DELETE" method="POST">
                  <input class="card-link delete bg-secondary text-white font-weight-bold" type="submit" value="Delete Profile" />
                </form>
              </div>
            </div>
          </div>
      </section>



      <footer>
        <% include ../partials/footer.ejs %>
      </footer>
  </body>
</html>
