<!DOCTYPE html>
<html>
    <head>
        <% include ../partials/head.ejs %>
    </head>
  <body>
      <nav>
          <% include ../partials/nav.ejs %>
      </nav>

      <section class="container-fluid profile">
        <div class="row">
            <div class="card mx-auto w-75" id="profileContainer">
              <img class="card-img-top" src="https://www.kegworks.com/wp/wp-content/uploads/2013/05/simpson-duff-beer-internet-homer.jpg" alt="Card image cap">
              <div class="card-body">
                <h3 class="card-title text-warning">Name</h3>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.lorem </p>
              </div>
              <ul class="list-group list-group-flush">
                <li class="list-group-item">Favorite Beer: </li>
                <li class="list-group-item">Favorite Brewery: </li>
                <li class="list-group-item">Breweries Posted: </li>
              </ul>
              <div class="card-body">
                <a href="#" class="card-link text-warning">Edit Profile</a>
                <a href="#" class="card-link text-warning">Delete Profile</a>
              </div>
            </div>
            </div>
      </section>


      <main>
        <div class="back-pic">
          <h1 class="nav-title"><%= crew.name %></h1>


          <div class="main-content">
            <div class="col-sm-6">
              <ul>
                  <li>
                      <h3>Favorite Beer:</h3>
                       <%= crew.fav_beer %>
                  </li>
                  <li>
                      <h3>Favorite Brewery:</h3>
                       <%= crew.fav_brewery %>
                  </li>
                  <li>
                    <h3>About Me:</h3>
                     <%= crew.about %>
                  </li>
                  <li>
                      <h3>Breweries Posted:</h3>
                  </li>
                      <% for (let i = 0; i < crew.breweries.length; i++) { %>
                        <li>
                            <a href="/breweries/<%= crew.breweries[i]._id %>"><%= crew.breweries[i].name %></a>
                        </li>
                      <% } %>
                      <li id="nav-li">
                        <a href="/breweries/new">Add a Brewery</a>
                      </li>

                </ul>
            </div>
            <div class="col-sm-6">
                <img class="show-pic" src="<%= crew.profile_pic %>" height="400" width="400"/>
            </div>
            </div>
      </main>
      <div class="edit-add-delete">
          <ul class="nav" id="nav-ul">
              <li id="nav-li">
                <a href="/crew/<%= crew._id %>/edit">Edit Profile</a>
              </li>
              <li id="nav-li">
                <form action="/crew/<%= crew._id %>?_method=DELETE" method="POST">
                      <input type="submit" value="Delete Profile"/>
                </form>
              </li>
          </ul>
      </div>
  </body>
</html>
