<!DOCTYPE html>
<html>
  <head>
    <% include ../partials/head.ejs %>
  </head>
  <body>
      <nav>
          <% include ../partials/nav.ejs %>
      </nav>
      <header>
          <h1 class="nav-title">Edit Brewery</h1>
          <h2 class="nav-subtitle"><%= breweries.name %></h2>
      </header>
      <main>
        <div class="back-pic-longer">
        <div class="bootstrap-iso">
          <div class="container-fluid">
            <div class="row">
              <div class="col-md-4 col-md-offset-4">
                <form action="/breweries/<%= breweries._id %>?_method=PUT" method="POST">
                    Brewery Name: <input class="form-control" type="text" name="name" value="<%= breweries.name %>"/><br/>
                    Brewery Pic: <input class="form-control" type="text" name="pic" value="<%= breweries.pic %>"/><br/>
                    Website: <input class="form-control" type="text" name="website" value="<%= breweries.website %>"/><br/>
                    Phone #: <input class="form-control" type="text" name="phone" value="<%= breweries.phone %>"/><br/>
                    Hours: <input class="form-control" type="text" name="hours" value="<%= breweries.hours %>"/><br/>
                    Food: <input class="form-control" type="text" name="food" value="<%= breweries.food %>"/><br/>
                    Kids Allowed: <input class="form-control" type="text" name="kids" value="<%= breweries.kids %>"/><br/>
                    Accepts CC: <input class="form-control" type="text" name="cc" value="<%= breweries.cc %>"/><br/>
                    Outdor Seating: <input class="form-control" type="text" name="outdoor" value="<%= breweries.outdoor %>"/><br/>
                    Comments: <br/><textarea class="form-control" name="comments"></textarea><br/>
                    <input type="submit" name="" value="Edit Brewery">

              </div>
            </div>
          </div>
        </div>
          </div>
      </main>
  </body>
</html>
