<!DOCTYPE html>
<html>
  <head>
    <% include ../partials/head.ejs %>
  </head>
  <body>
      <nav>
          <% include ../partials/nav.ejs %>
      </nav>
      <header>
          <h1 class="nav-title"><%= breweries.name %></h1>
          <div class="posted">
            <small>Posted By: <a href="/crew/<%= crew._id %>"><%= crew.name %></a></small>
          </div>
      </header>
      <main>
          <div class="main-content">
            <div class="col-sm-6">
              <ul>
                  </li>
                  <li>
                      <h3>Website:</h3>
                      <a href="<%= breweries.website %>"><%= breweries.website %></a>
                  </li>
                  <li>
                      <h3>Phone #:</h3>
                      <%= breweries.phone %>
                  </li>
                  <li>
                      <h3>Hours:</h3>
                      <%= breweries.hours %>
                  </li>
                  <li>
                      <h3>Food:</h3>
                      <%= breweries.food %>
                  </li>
                  <li>
                      <h3>Kids Allowed:</h3>
                      <%= breweries.kids %>
                  </li>
                  <li>
                      <h3>Accepts CC:</h3>
                      <%= breweries.cc%>
                  </li>
                  <li>
                      <h3>Outdoor Seating:</h3>
                      <%= breweries.outdoor %>
                  </li>
                  <li>
                      <h3>Comments:</h3>
                      <%= breweries.comments %>
                  </li>
            </ul>
            </div>

              <div class="col-sm-6">
                <img class="show-pic" src="<%= breweries.pic %>" heigth="400" width="400"/>
              </div>
              <div class="col-sm-6">
            </div>
          </div>
      </main>
      <div class="edit-add-delete">
        <ul class="nav" id="nav-ul">
          <li id="nav-li">
            <a href="/breweries/<%= breweries._id %>/edit">Edit Brewery</a>
          </li>
          <li id="nav-li">
            <form action="/breweries/<%= breweries._id %>?_method=DELETE" method="POST">
                  <input type="submit" value="Delete Brewery"/>
            </form>
          </li>
        </ul>
      </div>
  </body>
</html>
