<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
      <header>
          <h1><%= breweries.name %></h1>
          <small>Posted By: <a href="/crew/<%= crew._id %>"><%= crew.name %></a></small>
          <nav>
              <ul>
                  <li>
                      <a href="/">Home</a>
                  </li>
                  <li>
                      <a href="/breweries">Brewdex</a>
                  </li>
              </ul>
          </nav>
      </header>
      <main>
          <section>
              <ul>
                  <li>
                      <img src="<%= breweries.pic %>" heigth="300" width="300"/>
                  </li>
                  <li>
                      <h3>Website:</h3>
                      <a href="<%= breweries.website %>"><%= breweries.website %></a>
                  </li>
                  <li>
                      <h3>Phone #:</h3>
                      <%= breweries.phone %>
                  </li>
                  <li>
                      <h3>Hours:</h3>
                      <%= breweries.hours %>
                  </li>
                  <li>
                      <h3>Food:</h3>
                      <%= breweries.food %>
                  </li>
                  <li>
                      <h3>Kids Allowed:</h3>
                      <%= breweries.kids %>
                  </li>
                  <li>
                      <h3>Accepts CC:</h3>
                      <%= breweries.cc%>
                  </li>
                  <li>
                      <h3>Outdoor Seating:</h3>
                      <%= breweries.outdoor %>
                  </li>
              </ul>
          </section>
          <section>
            <section>
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d86067.90418305274!2d-122.30565807387157!3d47.6140391929853!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x5490150163a691ef%3A0x542d7060f3d23cf3!2sFremont+Brewing+Company!5e0!3m2!1sen!2sus!4v1502214480055" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
            </section>

          </section>
          <section>
              <a href="/breweries/<%= breweries._id %>/edit">Edit Brewery</a>
          </section>
          <section>
              <form action="/breweries/<%= breweries._id %>?_method=DELETE" method="POST">
                    <input type="submit" value="Delete Brewery"/>
              </form>
          </section>
      </main>
  </body>
</html>
